<div class="container-fluid">
  <div class="row text-center">
    <div class="col-12 mb-2">
      <h1>{{ title }} Started!!</h1>
    </div>
    <div class="col-12 mb-2"><h2>This is my first Angular app</h2>
    </div>
    <div class="col-12">
      <app-primo-componente></app-primo-componente>
    </div>
    <div class="col-12">
      <app-secondo-componente></app-secondo-componente>
    </div>
    <div class="col-12">
      <app-terzo-componente></app-terzo-componente>
    </div>
  </div>
</div>
