<div class="row mt-5">
  <div class="col-12 mb-5 text-center">
    <div class="card like">
      <div class="card-header like">I tuoi dati</div>
      <ul class="list-group list-group-flush like">
        <li class="list-group-item like border-0">Id account: {{user.user.id}}</li>
        <li class="list-group-item like border-0">Nome: {{user.user.name}}</li>
        <li class="list-group-item like">Email: {{user.user.email}}</li>
      </ul>
    </div>
  </div>
  <div class="col-12 text-center">
    <div class="card like">
      <div class="card-header like">I tuoi preferiti:</div>
      <ul class="list-group list-group-flush like">
        <li class="list-group-item like"></li>
      </ul>
    </div>
  </div>
</div>
