@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

html, body {
    margin: 2%;
    background-color: cornflowerblue;
    color: white;
    font-family: 'Open Sans', sans-serif;
    box-sizing: border-box;
}

h1 {
    color: yellow;
    text-shadow: 3px 3px 5px blueviolet;
}

.lista {
    border: 1px groove green;
    border-radius: 8px 8px 8px 8px;
    box-shadow: 8px 8px 10px black;
}
 
.addizione {
    font-size: 3em;
    color: red;
    text-shadow: 2px 2px 5px black;
}

.dodici {
    color: orange;
    font-size: 3em;
    text-shadow: 2px 2px 5px rgb(19, 221, 22);
}
h2 {
    text-shadow: 2px 2px 5px #dbde14;
    color: green;
}

.animali {
    font-size: 1.5em;
    font-weight: bold;
    color: indigo;
    text-shadow: 2px 2px 5px rgb(187, 14, 132) ;
}

.meno {
    color: fuchsia;
    font-size: 3em;
    text-shadow: 2px 2px 5px red;
}