$viola: #7550fe;
$violetto: #bba7ff;
$lightgrey: lightgrey;
$verde: #1acb98;
$lightpink: #ffeeda;
$bianco: white;
$nero: black;
$iconColor: #c28135;
$grey: grey;
$gold: #ffaa46;
$backgr: #f5f4f8;
$iconBk: #f1f1f1;