@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200&display=swap');

@import 'img';
@import 'colori';
@import 'font';
@import 'button';
@import 'animation';

body {
    font-family: 'Inter', sans-serif;
}

h1 {
    @include fontCustom(bold, $bianco, 2.2em);
    font-family: Georgia, 'Times New Roman', Times, serif
}

h2{
    @include fontCustom(bold, $nero, 1.8em); 
    margin: 5px 0;
}

h4 {
    @include fontCustom(bold, $nero, 1.2em);
    margin: 0;
}

h5{
    @include fontCustom(bold, $nero, 1.3em);
}

.icon1 {
    border-radius: 50%;
    background-color: $lightpink;
    padding: 25px;
    color: $iconColor;
}

.heroBottom{
    margin-left: 10px
}

del {
    color: $lightgrey;
}

.whiteBar{
    background-color: $bianco;
}

.btnAvatar {
    width: 25%
}

.dropMenu {
    width: 200px;
}

.dropMenu li {
    font-size: 1em;
    font-weight: bold;
}

.heroBottom p {
    @include fontCustom(normal, $grey, 0.8em);
}

.navImg img {
    @include sizeImg(100%, 50%, 0);
}

.heroSection {
    background-color: $viola;
}

.onlineFeed {
    top: 70%;
    right: 20%;
}

.bellCircle {
    background-color: $viola;
    top: 10%;
    right: 10%;
}

.heroSection p {
    color: $violetto;
}

.btn1 {
    @include buttonCustom($verde, $bianco, 15px, 5px, 0, 5px);
    font-weight: bold;
    @include hoverCustom;
}

.btn2 {
    @include buttonCustom($bianco, $nero, 15px, 5px, 0, 5px);
    font-weight: bold;
    @include hoverCustom;
}

main, footer {
    background-color: $backgr;
}

.iconStars {
    color: $gold;
}

span {
    color: $lightgrey;
}

.card-body img {
    @include sizeImg(15%, 300px, 0);
}

.bottomAlign p {
    margin: 0;
    margin-left: 10px;
}

.bottomAlign i {
   margin-left: 50%;
}

.bi-bar-chart-line-fill{
    color: $viola;
}

.card {
    height: 100%;
}

.iconNav{
    background-color: $iconBk;
    padding: 15px 20px;
    border-radius: 50%;
    border: none;
    font-weight: normal;
    color: $grey;
    font-size: 1.5em;
}

.backHr {
    background-color: $backgr;
}

.btnNAv {
  border: 2px solid $viola;
}

.ultimaLista  {
margin-left: 20px;
}

.animazione { 
    opacity: 1;
    @include rotationMx(3s, linear, 0s, 1);
   }