<div class="row">
  <div class="col-6" *ngIf="entryMex">
    <h2>Caricamento Todolist...</h2>
  </div>
  <div class="col-6 spinner-border text-dark" role="status" *ngIf="entryMex">
    <span class="visually-hidden text-primary"></span>
  </div>
  <div
    class="col-12 d-flex flex-column justify-content-center align-items-center"
    *ngIf="!entryMex"
  >
    <ul class="list-unstyled" *ngFor="let item of todoList">
      <li *ngIf="item.completed">
        {{ item.title }}
        <button type="button" class="btn btn-danger" (click)="deleteTask(item)">
          <i class="bi bi-trash-fill"></i>
        </button>
      </li>
    </ul>
  </div>
</div>
