
.sfondo {
  background: rgb(34,195,176);
  background: linear-gradient(0deg, rgba(34,195,176,1) 0%, rgba(148,253,45,1) 100%);
}

h2 {
  font-weight: bold;
}

.sfondoD{
  background: rgb(171,215,13);
  background: linear-gradient(90deg, rgba(171,215,13,1) 10%, rgba(29,253,110,1) 66%, rgba(69,114,252,1) 100%);
}

.sfondoT {
  background: rgb(215,13,178);
  background: linear-gradient(90deg, rgba(215,13,178,1) 10%, rgba(29,125,253,1) 66%, rgba(252,69,169,1) 100%);
}
