<div class="navbar">
<a class="buttons btn ms-3" [routerLink]="['/singin']">Sign Up</a>
<a class="buttons btn me-3" [routerLink]="['/login']">Login</a>
</div>
    <div class="main">
<div class="area text">
  <h1 class="fw-bold">NETFILM</h1>
  <h2>Guarda i film e le serie tv più famose</h2>
    </div>

    </div>
    <div class="container1">
        <div class="text ms-3">
          <h1>Guardale dalla tua Smart TV.
            </h1>
            <p>
                Guarda su Smart TVs, Playstation, Xbox, <br>
                Chromecast e Apple TV<br>
            </p>
        </div>
        <div class="image">
  <img src="https://assets.nflxext.com/ffe/siteui/acquisition/ourStory/fuji/desktop/tv.png">
        </div>
      </div>
      <div class="container1">

          <div class="image">
    <img src="https://assets.nflxext.com/ffe/siteui/acquisition/ourStory/fuji/desktop/mobile.png">
          </div>
          <div class="text">
              <h1>Scarica l'app sul tuo smartphone.
                </h1>
                <p>
                    Puoi guardare tutti i contenuti scaricandoli.
                </p>
            </div>

        </div>
        <div class="container1">
            <div class="text ms-3">
              <h1>Guarda tutti i nostri contenuti dove e quando vuoi.</h1>
            </div>
            <div class="image">
      <img src="https://assets.nflxext.com/ffe/siteui/acquisition/ourStory/fuji/desktop/device-pile.png">
            </div>
          </div>
